.navbar {
    background-color: rgb(238, 234, 234);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #fff;
    height: 78px;
    padding-right: 29px;
  }