.navbar {
    background-color: #fcf7fc;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 78px;
  }

.title {
  font-size: x-large;
  font-weight: normal;
}

.nav-rigth {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 100px;
}